body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #343A40;
}

.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.03);
}

#cartPanel, #paymentForm {
  border-top: 2px solid #007BFF;
  padding-top: 1rem;
}

.btn-success {
  background-color: #28A745;
  border: none;
}
.product-image-bg {
  background-color: #e9ecef; /* gris claro */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
body.dark-mode .product-image-bg {
  background-color: #2c2c2c; /* fondo oscuro para modo oscuro */
}
body.dark-mode .product-image-bg {
  background-color: #2c2c2c; /* fondo oscuro para modo oscuro */
}